<div class="page-section" #animatedSection>
  <div class="content-box">
    <p class="title">{{ 'CONTACT.NEXT_STEPS_SECTION.TITLE' | translate }}</p>

    <div class="cards">
      <div class="card">
        <div class="card-title">{{ 'CONTACT.NEXT_STEPS_SECTION.REVIEW.TITLE' | translate }}</div>
        <div class="card-description">
          {{ 'CONTACT.NEXT_STEPS_SECTION.REVIEW.DESCRIPTION' | translate }}
        </div>
      </div>
      <img src="../../../../assets/svgs/arrow.svg" alt="">
      <div class="card">
        <div class="card-title">{{ 'CONTACT.NEXT_STEPS_SECTION.DISCOVERY.TITLE' | translate }}</div>
        <div class="card-description">
          {{ 'CONTACT.NEXT_STEPS_SECTION.DISCOVERY.DESCRIPTION' | translate }}
        </div>
      </div>
      <img src="../../../../assets/svgs/arrow.svg" alt="">
      <div class="card">
        <div class="card-title">{{ 'CONTACT.NEXT_STEPS_SECTION.PLANNING.TITLE' | translate }}</div>
        <div class="card-description">
          {{ 'CONTACT.NEXT_STEPS_SECTION.PLANNING.DESCRIPTION' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
