<div class="page-section">
  <div class="content-box">
    <p class="title">What Happens After You Reach Out?</p>

    <div class="cards">
      <div class="card">
        <div class="card-title">Quick Review & Response</div>
        <div class="card-description">
          We’ll carefully review your message and get back to you within one
          business day to schedule a quick intro call or ask any clarifying
          questions.
        </div>
      </div>
      <img src="../../../../assets/svgs/arrow.svg" alt="">
      <div class="card">
        <div class="card-title">Free Discovery Call</div>
        <div class="card-description">
          We’ll explore your idea, goals, and challenges — and see if we’re the
          right fit to build it together.
        </div>
      </div>
      <img src="../../../../assets/svgs/arrow.svg" alt="">
      <div class="card">
        <div class="card-title">Quick Review & Response</div>
        <div class="card-description">
          If it’s a match, we’ll prepare a tailored plan with scope, timeline,
          and next steps.
        </div>
      </div>
    </div>
  </div>
</div>
