<div class="page-section">
  <div class="content-box">
    <div class="heading">
      <span>Benefits of working with us</span>
      <div class="main-text">
        “What do I actually gain by working with Koober Coders?”
      </div>
    </div>

    <div class="benefits">
      <div
        *ngFor="let benefit of benefits"
        class="benefit"
        [class.active]="benefit.id == activeIndex"
        (click)="selectBenefit(benefit.id)"
      >
        <div class="progress-bar"></div>
        <div class="text-content">
          <p class="id">{{ benefit.id }}.</p>
          <p class="title">{{ benefit.title }}</p>
          <p class="description">{{ benefit.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
