@use "../../../../styles/mixins";
@use "../../../../styles/variables";

.content-box {
  display: flex;
  justify-content: center;
  max-width: 100dvw;
  min-height: 100dvh;
  padding: 48px;

  .wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 48px;
    padding: 48px 0px 48px 48px;
    width: 100%;
    background-color: #121311; // <-- persistent solid background
    transition: background-color 500ms ease;

    &.animation-appearing {
      background-color: #11120f;
    }

    .page-content {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      gap: 96px;
      @include mixins.flex-center;
      padding-top: 10dvh;
      justify-content: flex-start;
      flex-direction: column;
    }

    .background-animation {
      position: absolute;
      top: 0;
      left: 52%;
      translate: -50% 0;
      scale: 1.05;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0;
      transition: opacity 1s ease;

      &.loaded:not(.loading) {
        opacity: 0.8;
      }
      &.loading {
        transition: opacity 0ms;
        opacity: 0;
        @include mixins.flex-center;
        flex-direction: column;
        background-color: transparent !important;
      }


      canvas {
        display: block;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        background-color: transparent !important;
      }

      * {
        background-color: transparent !important;
      }
    }

    //   &::before {
    //     // If you're using this fallback, ensure it's transparent or blend-compatible
    //     content: "";
    //     position: absolute;
    //     top: 0%;
    //     left: 50%;
    //     translate: -50% 0;
    //     width: 100%;
    //     height: 100%;
    //     background: transparent;
    //     background-position: center 40%;
    //     background-size: 100%;
    //     background-repeat: no-repeat;
    //     mix-blend-mode: hard-light;
    //     z-index: -1;
    //     opacity: 0.5;
    //   }
    // }
  }

}

@media (max-width: 1000px) {
    .content-box {
      .wrapper {
        padding: 48px;
      }
    }
}

  @media (max-width: 650px) {
    .content-box {
      padding: 24px;
      .wrapper {
        border-radius: 32px;
        padding: 24px;

        .page-content {
          padding-top: 0;
        }
      }
    }
  }