<div class="page-wrapper">
  <app-home-hero-section></app-home-hero-section>
  <app-features-section></app-features-section>
  <app-how-we-work-section></app-how-we-work-section>
  <app-benefits-section></app-benefits-section>
  <app-home-faq-section></app-home-faq-section>
  <app-cta-section 
  ctaTitle="Still Have Questions?"
  ctaDescription="We're happy to walk you through the process — no pressure, no tech jargon."
  buttonContent="Subscribe"
  buttonTarget="/contact"
  ></app-cta-section>
</div>
