$bg-background: #131413;
$bg-section: #171A18;
$bg-section-secondary: #1B1F1C;
$bg-disabled: #2F3330;
$bg-green-light: #42EB85;
$bg-green-dark: #34B84A;
$bg-nav-bar-blurry: #1B1F1CA3;
$bg-input-default: rgba(27, 31, 28, 0.64);
$bg-input-disabled: #2F33307A;

$typography-100: #EBF5E1;
$typography-200: #C4D6C4;
$typography-300: #A0ADA2;
$typography-400: #87998E;
$typography-disabled: #7A857E;
$typography-green: #42EB85;

$icon-default: #C4D6C4;
$icon-active: #EBF5E1;
$icon-green: #42EB85;
$icon-disabled: #87998E;

$button-primary-bg-dark: #34B84A;
$button-primary-bg-light: #42EB85;
$button-secondary-bg: #2F33307A;
$button-typography-and-stroke: #85FFB6;
$button-primary-typography: #064720;
$button-stroke: #F5F5E1;

$gradient-dark-green: #064720;
$gradient-green: #34B84A;
$gradient-light: #F5F5E1;
$gradient-tealish: #42EB85;

$indicator-error: #EB381C;
$indicator-success: #34B84A;
