<div class="content-box">
  <img class="blob" src="../../../../assets/svgs/Blob.svg" alt="" />

  <div class="inner-content">
    <div class="heading">
      <a [routerLink]="headingLink" *ngIf="headingLink" class="heading-link">
        <p>{{ headingLinkText }}</p>
        <img src="../../../assets/svgs/arrow.svg" alt="" />
      </a>
      <h1 class="heading-title">
        {{ headingTitle }}
        <span class="green-text">{{ headingTitleSpan }}</span>
      </h1>
      <p class="heading-description">
        {{ headingDescription }}
      </p>

      <div *ngIf="contactInfo" class="info">
        <div class="info-column">
          <img src="../../../assets/svgs/contact/phone.svg" class="icon" alt="">

          <div class="info-list">
            <p>{{contactInfo.phone}}</p>
            <p>{{contactInfo.phoneAlternative}}</p>
          </div>
        </div>
        <div class="info-column">
          <img src="../../../assets/svgs/contact/mail.svg" class="icon" alt="">

          <div class="info-list">
            <p>{{contactInfo.email}}</p>
            <p>{{contactInfo.emailAlternative}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="cta-buttons">
      <button (click)="navigateTo(primaryButtonTarget)" class="Primary-Default">
        {{ primaryButtonContent }}
      </button>
      <button (click)="navigateTo(secondaryButtonTarget)" class="Secondary-Default">
        {{ secondaryButtonContent }}
      </button>
    </div>
  </div>
</div>