
<div class="page-wrapper">
    <app-page-header headingTitle="
        Let’s Bring Your "
        headingTitleSpan="Vision to Life"
        headingDescription="Have an idea, question, or project in mind? Reach out — we’d love to hear from you."
          primaryButtonContent="Book a Free Consultation"
          secondaryButtonContent="See Our Work"
          secondaryButtonTarget="/work"
          [contactInfo]="contactInfo"></app-page-header>
    <app-contact-form></app-contact-form>
    <app-contact-next-steps></app-contact-next-steps>
</div>