<div class="page-section">
    <div class="content-box">
        <div class="heading">
            <span>{{ 'FEATURES.TITLE' | translate }}</span>
            <div class="main-text">{{ 'FEATURES.MAIN_TITLE' | translate }}</div>
            <div class="sub-text">{{ 'FEATURES.SUB_TITLE' | translate }}</div>
        </div>

        <div class="features">
            <div class="feature">
                <div class="heading">
                    <div class="logo">
                        <img src="assets/svgs/features/technology.svg" alt="">
                    </div>
                    <p class="title">{{ 'FEATURES.MODERN_TECH.TITLE' | translate }}</p>
                </div>
                <p class="description">{{ 'FEATURES.MODERN_TECH.DESCRIPTION' | translate }}</p>
            </div>
            <div class="feature">
                <div class="heading">
                    <div class="logo">
                        <img src="assets/svgs/features/team.svg" alt="">
                    </div>
                    <p class="title">{{ 'FEATURES.EXPERIENCED_TEAM.TITLE' | translate }}</p>
                </div>
                <p class="description">{{ 'FEATURES.EXPERIENCED_TEAM.DESCRIPTION' | translate }}</p>
            </div>
            <div class="feature">
                <div class="heading">
                    <div class="logo">
                        <img src="assets/svgs/features/process.svg" alt="">
                    </div>
                    <p class="title">{{ 'FEATURES.AGILE_PROCESS.TITLE' | translate }}</p>
                </div>
                <p class="description">{{ 'FEATURES.AGILE_PROCESS.DESCRIPTION' | translate }}</p>
            </div>
            <div class="feature">
                <div class="heading">
                    <div class="logo">
                        <img src="assets/svgs/features/personal-approach.svg" alt="">
                    </div>
                    <p class="title">{{ 'FEATURES.PERSONAL_APPROACH.TITLE' | translate }}</p>
                </div>
                <p class="description">{{ 'FEATURES.PERSONAL_APPROACH.DESCRIPTION' | translate }}</p>
            </div>
            <div class="feature">
                <div class="heading">
                    <div class="logo">
                        <img src="assets/svgs/features/job-done.svg" alt="">
                    </div>
                    <p class="title">{{ 'FEATURES.RESULT_ORIENTED.TITLE' | translate }}</p>
                </div>
                <p class="description">{{ 'FEATURES.RESULT_ORIENTED.DESCRIPTION' | translate }}</p>
            </div>
            <div class="feature">
                <div class="heading">
                    <div class="logo">
                        <img src="assets/svgs/features/connection.svg" alt="">
                    </div>
                    <p class="title">{{ 'FEATURES.TRANSPARENT_COMM.TITLE' | translate }}</p>
                </div>
                <p class="description">{{ 'FEATURES.TRANSPARENT_COMM.DESCRIPTION' | translate }}</p>
            </div>
        </div>

        <div class="contact">
            <div class="text-content">
                <p class="main-text" [ngClass]="{'georgian-text': isGeorgian()}">{{ 'FEATURES.CTA.TITLE' | translate }}</p>
                <p class="sub-text">{{ 'FEATURES.CTA.SUBTITLE' | translate }}</p>
            </div>
            <a class="Primary-Default" routerLink="/contact">{{ 'FEATURES.CTA.BUTTON' | translate }}</a>
        </div>
    </div>
</div>
