<footer>
  <div class="input-box">
    <div class="left-side">
      <p class="main-text">Stay in the Loop</p>
      <p class="sub-text">
        Get occasional insights, tips, and updates — no spam.
      </p>
    </div>

    <div class="right-side">
      <input placeholder="Example@gmail.com" type="text" />
      <button>Subscribe</button>
    </div>
  </div>


  <div class="content-box">
    <div class="left-side">
      <a routerLink="/" class="company">
        <img src="../../../../assets/svgs/logo.svg" alt="" class="logo" />
        <div class="text-content">
          <p class="main-text">Koober Coders</p>
          <p class="sub-text">
            We turn ideas into high-performing digital products.
          </p>
        </div>
      </a>
      <div class="copyright">
        <img src="../../../../assets/svgs/copyright.svg" alt="" />
        <p>All Rights Received.</p>
      </div>
    </div>

    <div class="right-side">
      <div class="column">
        <p class="title">Socials</p>
        <div class="list">
          <a href="">Facebook</a>
          <a href="">Instagram</a>
          <a href="">Linked In</a>
        </div>
      </div>
      <div class="column">
        <p class="title">Company</p>
        <div class="list">
          <a routerLink="/about">About</a>
          <a href="">Blog</a>
          <a href="">FAQs</a>
          <a routerLink="/contact">Contact</a>
        </div>
      </div>
      <div class="column">
        <p class="title">Contact</p>
        <div class="list">
          <p>Tel: +995 567 789 654</p>
          <p>Email: Example&#64;gmail.com</p>
        </div>
      </div>
    </div>
  </div>
    <div class="footer-watermark-wrapper">
    <span class="footer-watermark">Koober Coders</span>
  </div>
  
  <img class="blob" src="../../../../assets/svgs/Blob.svg" alt="">
</footer>
