.cta-container {
    display: flex;
    padding: 144px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    z-index: 1;
    position: relative;

    overflow: hidden;
    border-radius: 96px;

    margin-bottom: 500px;
    background-color: #141413;


    margin: 96px 48px 96px 48px ; 


}


.cta-container:before{
    width: 500px;
    height: 500px;
    content: '';
    position: absolute;
    bottom: -400px; /* Position at bottom, half hidden */
    left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(50% 50% at 50% 50%, #F5F5E1 15.87%, #F5F5E1 62.5%, #34B84A 76.44%, #42EB85 85.1%);
    opacity: 0.64;
    mix-blend-mode: hard-light;
    filter: blur(200px);
    z-index: 1;

}



.cta-primary-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.cta-title {
    color: var(--Typography-100, #EBF5E1);
    background: linear-gradient(to right, rgba(66, 235, 133, 1), rgba(52, 184, 74, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* Sub Header L */
    font-family: "General Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 122.222% */
    letter-spacing: 1.44px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.cta-subtitle {
    color: var(--Typography-300, #A0ADA2);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.96px;
}