<div class="page-section">
    <div class="content-box">
        <div class="heading">
            <span>How we work</span>
            <div class="main-text">Quality. Growth. Success. Our Process Covers It All.</div>
            <div class="sub-text">From first idea to final launch (and beyond), our process is clear, collaborative, and focused on real results. Here’s how we bring your vision to life — step by step.</div>
        </div>

        <div class="process">
            <div class="card">
                <div class="heading">
                    <img class="logo" src="../../../assets/svgs/how-we-work/discovery.svg" alt="">
                    <div class="heading-text">
                        <p class="title">1. Discovery & Analysis</p>
                        <p class="timeline">Timeline: 1-2 Weeks</p>
                    </div>
                </div>
                <p class="description">We explore your goals, challenges, and audience to define clear project requirements.</p>
            </div>
            <div class="card">
                <div class="heading">
                    <img class="logo" src="../../../assets/svgs/how-we-work/design.svg" alt="">
                    <div class="heading-text">
                        <p class="title">2. Design & Prototyping</p>
                        <p class="timeline">Timeline: 2-4 Weeks</p>
                    </div>
                </div>
                <p class="description">We craft the visual direction, wireframes, and a prototype so you can review and validate before development.</p>
            </div>
            <div class="card">
                <div class="heading">
                    <img class="logo" src="../../../assets/svgs/how-we-work/development.svg" alt="">
                    <div class="heading-text">
                        <p class="title">3. Development & Testing</p>
                        <p class="timeline">Timeline: 4-12+ Weeks</p>
                    </div>
                </div>
                <p class="description">We write clean code, build functionality, and test thoroughly to ensure smooth performance across all devices.</p>
            </div>
            <div class="card">
                <div class="heading">
                    <img class="logo" src="../../../assets/svgs/how-we-work/launch.svg" alt="">
                    <div class="heading-text">
                        <p class="title">4. Launch & Monitoring</p>
                        <p class="timeline">Timeline: 1 Week</p>
                    </div>
                </div>
                <p class="description">We go live, ensuring a smooth launch while monitoring performance in a real-world environment.</p>
            </div>
            <div class="card">
                <div class="heading">
                    <img class="logo" src="../../../assets/svgs/how-we-work/support.svg" alt="">
                    <div class="heading-text">
                        <p class="title">5. Support & Growth</p>
                        <p class="timeline">Ongoing</p>
                    </div>
                </div>
                <p class="description">After launch, we continue to optimize, support, and scale your product as your business evolves.</p>
            </div>
        </div>
    </div>
</div>